/* PAGINATION */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 20px;
  box-sizing: border-box;
}

.page-item {
  margin: 0px 2px;
}

.page-link {
  padding: 5px 8px;
  border: 1px solid #ddd;
  color: #007bff;
  cursor: pointer;
  text-decoration: none;
  font-size: 13px;
}

.page-link:hover {
  background-color: #eee;
}

.active .page-link {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}

.page-item.disabled .page-link {
  color: #6c757d;
/* PAGINATION */